/*Events page*/

.events,
.events-left,
.events-right {
  display: flex;
  flex-direction: column;
}

.filter-btns,
.date-filter,
.year,
.month,
.search-filter-wrapper,
.events-list,
.one-event-date {
  display: flex;
}

.events {
  width: 100%;
  padding: 2.85vw 2.78vw 5.35vw 2.78vw; /*41px 40px 77px 40px*/
}

.events-container {
  margin-top: 3.96vw; /*57px*/
}

.events h1 {
  margin-top: 1.25vw;
}

.filter-btns {
  justify-content: space-between;
}

.year,
.month {
  align-items: center;
  gap: 1.39vw;
}

.month {
  margin-left: 2.78vw; /*40px*/
}

.date-filter {
  height: 3.06vw; /*44px*/
}

.year-dropdown-wrapper,
.month-dropdown-wrapper {
  border-radius: 0.69vw; /*10px*/
  background: #fff;
  box-shadow: 0 0.69vw 2.08vw 0 rgba(0, 0, 0, 0.1);
  padding: 0.69vw 0 0.56vw 1.39vw; /*10px 0 8px 20px*/
}

.year-dropdown,
.month-dropdown {
  width: 100%;
  color: #111;
  font-family: Manrope;
  font-size: 1.25em; /*20px 1.39vw*/
  font-weight: 600;
  line-height: 130%; /* 26px */
  letter-spacing: -0.025; /*0.4px*/

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.year-dropdown-wrapper {
  width: 6.67vw; /*96px*/
}

.month-dropdown-wrapper {
  width: 9.86vw; /*142px*/
}

.filter-btns button {
  margin-left: 2.22vw; /*32px*/
  width: 8.96vw; /*129PX*/
}

.search-filter-wrapper {
  width: 18.06vw; /*260px*/
  border-radius: 0.69vw; /*10px*/
  background: #fff;
  box-shadow: 0 0.69vw 2.08vw 0 rgba(0, 0, 0, 0.1); /*0 10px 0 30px*/
  gap: 0.69vw; /*10px*/
  align-items: center;
  padding-left: 1.74vw; /*25px*/
}

.search-filter-wrapper img {
  width: 1.39vw; /*20px*/
  height: 1.39vw; /*20px*/
}

.events-list {
  margin-top: 6.18vw; /*89px*/
}

.events-left,
.events-right {
  width: 38.54vw; /*555px*/
  gap: 3.96vw; /*57px*/
}

.events-right {
  margin-top: 9.79vw; /*141px*/
}

.one-event {
  width: 100%;
  height: 17.29vw; /*249px*/
  border-radius: 0.69vw; /*10px*/
  background: #e8edf0;
  padding: 2.08vw 5.69vw 2.22vw 2.08vw; /*30px 82px 32px 30px*/
}

.one-event-date {
  gap: 1.11vw; /*16px*/
}

.events.text {
  margin: 1.39vw 0 2.85vw 0; /*20px 0 41px 0*/
}
