/* fonts */

@font-face {
  font-family: "Manrope";
  font-style: normal;
  src: url("../fonts/Manrope-SemiBold.ttf");
}

@font-face {
  font-family: "ManropeBold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Manrope-Bold.ttf");
}

h1,
h2,
h3,
h4,
.arcticle,
.dates,
.mobile,
.tag {
  font-weight: 600;
  margin-block-start: 0;
  margin-block-end: 0;
}

/* H1 */

h1 {
  font-size: 3.125em;
  line-height: 110%; /* 3.4375em */
  letter-spacing: -0.0625em;
}

/* H2 */

h2 {
  font-size: 2.25em;
  line-height: 110%; /* 2.475em */
  letter-spacing: -0.045em;
}

/* H3 */

h3 {
  font-size: 1.39vw; /*1.25em*/
  line-height: 130%; /* 1.625em */
  letter-spacing: -0.025em;
}

/* H4 */

h4 {
  font-size: 0.875em;
  line-height: 135%; /* 1.18125em */
  letter-spacing: -0.00875em;
}

/* Article */

.arcticle {
  font-size: 1.5em;
  line-height: 130%; /* 1.95em */
  letter-spacing: -0.03em;
}

/* Link */

a {
  font-family: "ManropeBold";
  font-size: 0.9375em;
  font-weight: 700;
  line-height: 150%; /* 1.40625em */
  text-decoration: none;
  color: #3c66cb;
}

a:hover {
  text-decoration: underline;
}

/* Text */

.text {
  font-size: 0.9375em;
  font-weight: 500;
  line-height: 140%; /* 1.3125em */
}

/* Dates */

.dates {
  color: #999;
  font-size: 0.75em;
  line-height: 150%; /* 1.125em */
}

/* Microtag */

.tag {
  color: #3c66cb;
  font-size: 0.75em;
  line-height: 150%; /* 1.125em */
}
