/*One news content page*/

.one-news,
.one-news-content,
.news-text,
.highlighted-news-all,
.highlighted-news-description {
  display: flex;
  flex-direction: column;
}

.one-news-container,
.one-news-gallery-btns,
.content-date-tags,
.description-links {
  display: flex;
}

.one-news-content h2,
.one-news,
.one-news-gallery,
.one-news-gallery__img,
.content-date-tags,
.news-text,
.news-feed button {
  width: 100%;
}

.one-news {
  padding: 2.85vw 2.57vw 5.56vw 2.78vw; /*41px 80px 40px*/
  gap: 1.32vw; /*19px*/
}

.one-news-container {
  gap: 5.35vw; /*77px*/
}

.one-news-content {
  width: 62.43vw; /*899px*/
}

.one-news-gallery {
  margin-bottom: 1.39vw; /*20px*/
}

.one-news-gallery__img {
  object-fit: cover;
  height: 30.56vw; /*440px*/
  border-radius: 0.69vw; /*10px*/
}

.content-date-tags {
  margin: 1.39vw 0 2.78vw 0; /*20px 0 40px 0*/
  gap: 2.36vw; /*34px*/
  align-items: center;
}

.description-links {
  gap: 0.42vw; /*6px*/
}

.news-text {
  gap: 1.39vw; /*20px*/
}

.text {
  text-align: justify;
}

.news-feed {
  width: 26.81vw;
}

.highlighted-news {
  width: 26.81vw; /*386px*/
  height: 30.9vw; /*445px*/
  border-radius: 0.42vw 0.42vw 0 0; /*6px 6px 0 0*/
  background: #c4d9ed;
  padding: 1.53vw 1.88vw 1.74vw 2.08vw; /*22px 27px 25px 30px*/
}

.highlighted-news-all {
  gap: 1.11vw; /*16px*/
}

.highlighted-news-description {
  gap: 0.35vw; /*5px*/
}

.not-highlighted-news {
  width: 26.81vw; /*386px*/
  height: 30.69vw; /*442px*/
  border-radius: 0 0 0.42vw 0.42vw; /*0 0 6px 6px*/
  background: #e8edf0;
  padding: 1.18vw 1.88vw 1.88vw 2.08vw; /*17px 27px 27px 30px*/
}

.news-feed button {
  height: 3.06vw; /*44px*/
  margin-top: 0.69vw; /*10px*/
}
